header.masthead {
  background-image: url("../img/impianto-acquaponico.jpg");
  max-width: 100%;
  height: auto;
}

header.masthead>.overlay {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}
